*,
body {
  background-color: #e4ddd6;
}

.img-matriz {
  background-color: transparent;
  width: 100%;
  height: 100%;
  max-width: none;
}

.principal {
  max-width: 450px;
  max-height: 100vh;
  height: 100vh;
  padding: 10% 0;
  margin: 0 auto;
}

.imagens-header {
  justify-content: left;
}

img {
  max-width: 40px;
  margin: 0 3px;
}

.player-turn {
  justify-content: center;
  align-items: center;
}

.reset-button {
  justify-content: right;
  align-items: center;
}

button {
  border-radius: 8px;
}

.matriz {
  border: 4px solid #e4ddd6;
  min-height: 150px;
  height: 100%;
  background-color: #606d802d;
  border-radius: 15px;
}
